In [3]:
# Importing initial libraries
import requests
import pandas as pd
import numpy as np

url = input('Enter Wikipedia url for list of S&P500 Companies_')
# Scrapping for List of stocks in S&P500  
wiki_data = pd.read_html(url)
print(wiki_data)

Enter Wikipedia url for list of S&P500 Companies_ https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

[    Symbol              Security             GICS Sector  \
0      MMM                    3M             Industrials
1      AOS           A. O. Smith             Industrials
2      ABT                Abbott             Health Care
3     ABBV                AbbVie             Health Care
4      ACN             Accenture  Information Technology
..     ...                   ...                     ...
498    YUM           Yum! Brands  Consumer Discretionary
499   ZBRA    Zebra Technologies  Information Technology
500    ZBH         Zimmer Biomet             Health Care
501   ZION  Zions Bancorporation              Financials
502    ZTS                Zoetis             Health Care

                      GICS Sub-Industry    Headquarters Location  Date added  \
0              Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
1                     Building Products     Milwaukee, Wisconsin  2017-07-26
2                 Health Care Equipment  North Chicago, Illinois  1957-03-04
3                         Biotechnology  North Chicago, Illinois  2012-12-31
4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
..                                  ...                      ...         ...
498                         Restaurants     Louisville, Kentucky  1997-10-06
499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
500               Health Care Equipment          Warsaw, Indiana  2001-08-07
501                      Regional Banks     Salt Lake City, Utah  2001-06-22
502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

         CIK      Founded
0      66740         1902
1      91142         1916
2       1800         1888
3    1551152  2013 (1888)
4    1467373         1989
..       ...          ...
498  1041061         1997
499   877212         1969
500  1136869         1927
501   109380         1873
502  1555280         1952

[503 rows x 8 columns],                   Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0    December 18, 2023   UBER                           Uber     SEE
1    December 18, 2023    JBL                          Jabil     ALK
2    December 18, 2023   BLDR           Builders FirstSource    SEDG
3     October 18, 2023   HUBB                        Hubbell     OGN
4     October 18, 2023   LULU            Lululemon Athletica    ATVI
..                 ...    ...                            ...     ...
333       June 9, 1999    WLP                      Wellpoint     HPH
334  December 11, 1998    FSR                        Firstar     LDW
335  December 11, 1998    CCL                 Carnival Corp.     GRN
336  December 11, 1998   CPWR                      Compuware     SUN
337      June 17, 1997    CCI  Countrywide Credit Industries     USL

                               \
                     Security
0                  Sealed Air
1            Alaska Air Group
2                   SolarEdge
3               Organon & Co.
4         Activision Blizzard
..                        ...
333  Harnischfeger Industries
334                     Amoco
335                General Re
336                SunAmerica
337                    USLife

                                                Reason
                                                Reason
0                     Market capitalization change.[4]
1                     Market capitalization change.[4]
2                     Market capitalization change.[4]
3                     Market capitalization change.[5]
4    S&P 500 and S&P 100 constituent Microsoft acqu...
..                                                 ...
333           Harnischfeger filed for bankruptcy.[252]
334                           BP purchased Amoco.[253]
335      Berkshire Hathaway purchased General Re.[253]
336                     AIG purchased SunAmerica.[253]
337                          AIG acquired USLife.[254]

[338 rows x 6 columns]]

In [4]:
# Extracting Stock Price Historical Data from Yahoo! Finance using Tickers from Wikipedia
import yfinance as yf
from pandas.tseries.offsets import DateOffset
from datetime import datetime

ticker_df = wiki_data[0]
display(ticker_df.head(2))
display(ticker_df.tail(2))

def extract_stock_data():
    ticker_list= ticker_df['Symbol'].to_list()
    stock_list = ticker_df['Security'].to_list()
    print(stock_list)
    stock_name = input('Enter Stock_Name from the above displayed list for Analysis:')
    start_date = input('Enter Start Date for Historical Data in yyyy-mm-dd:')
    today = datetime.today().strftime('%Y-%m-%d')    
    row_index = ticker_df.query(f"Security == '{stock_name}'").index[0]
    stock_ticker = ticker_list[row_index]
    stock_df = yf.download(stock_ticker,start_date,today)
    stock_df.index = pd.to_datetime(stock_df.index)
    print(f"{stock_ticker}:{stock_name}")
    return(stock_df)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [5]:
# Calling Specific Company stock data 
# using extract_stock_data() function

df = extract_stock_data()

display(df.head(3))
display(df.tail(3))

['3M', 'A. O. Smith', 'Abbott', 'AbbVie', 'Accenture', 'Adobe Inc.', 'Advanced Micro Devices', 'AES Corporation', 'Aflac', 'Agilent Technologies', 'Air Products and Chemicals', 'Airbnb', 'Akamai', 'Albemarle Corporation', 'Alexandria Real Estate Equities', 'Align Technology', 'Allegion', 'Alliant Energy', 'Allstate', 'Alphabet Inc. (Class A)', 'Alphabet Inc. (Class C)', 'Altria', 'Amazon', 'Amcor', 'Ameren', 'American Airlines Group', 'American Electric Power', 'American Express', 'American International Group', 'American Tower', 'American Water Works', 'Ameriprise Financial', 'Ametek', 'Amgen', 'Amphenol', 'Analog Devices', 'Ansys', 'Aon', 'APA Corporation', 'Apple Inc.', 'Applied Materials', 'Aptiv', 'Arch Capital Group', 'Archer-Daniels-Midland', 'Arista Networks', 'Arthur J. Gallagher & Co.', 'Assurant', 'AT&T', 'Atmos Energy', 'Autodesk', 'Automated Data Processing', 'AutoZone', 'AvalonBay Communities', 'Avery Dennison', 'Axon Enterprise', 'Baker Hughes', 'Ball Corporation', 'Bank of America', 'Bank of New York Mellon', 'Bath & Body Works, Inc.', 'Baxter International', 'Becton Dickinson', 'Berkshire Hathaway', 'Best Buy', 'Bio-Rad', 'Bio-Techne', 'Biogen', 'BlackRock', 'Blackstone', 'Boeing', 'Booking Holdings', 'BorgWarner', 'Boston Properties', 'Boston Scientific', 'Bristol Myers Squibb', 'Broadcom Inc.', 'Broadridge Financial Solutions', 'Brown & Brown', 'Brown–Forman', 'Builders FirstSource', 'Bunge Global SA', 'Cadence Design Systems', 'Caesars Entertainment', 'Camden Property Trust', 'Campbell Soup Company', 'Capital One', 'Cardinal Health', 'CarMax', 'Carnival', 'Carrier Global', 'Catalent', 'Caterpillar Inc.', 'Cboe Global Markets', 'CBRE Group', 'CDW', 'Celanese', 'Cencora', 'Centene Corporation', 'CenterPoint Energy', 'CF Industries', 'CH Robinson', 'Charles River Laboratories', 'Charles Schwab Corporation', 'Charter Communications', 'Chevron Corporation', 'Chipotle Mexican Grill', 'Chubb Limited', 'Church & Dwight', 'Cigna', 'Cincinnati Financial', 'Cintas', 'Cisco', 'Citigroup', 'Citizens Financial Group', 'Clorox', 'CME Group', 'CMS Energy', 'Coca-Cola Company (The)', 'Cognizant', 'Colgate-Palmolive', 'Comcast', 'Comerica', 'Conagra Brands', 'ConocoPhillips', 'Consolidated Edison', 'Constellation Brands', 'Constellation Energy', 'CooperCompanies', 'Copart', 'Corning Inc.', 'Corteva', 'CoStar Group', 'Costco', 'Coterra', 'Crown Castle', 'CSX', 'Cummins', 'CVS Health', 'Danaher Corporation', 'Darden Restaurants', 'DaVita Inc.', 'Dayforce', 'John Deere', 'Delta Air Lines', 'Dentsply Sirona', 'Devon Energy', 'Dexcom', 'Diamondback Energy', 'Digital Realty', 'Discover Financial', 'Dollar General', 'Dollar Tree', 'Dominion Energy', "Domino's", 'Dover Corporation', 'Dow Inc.', 'DR Horton', 'DTE Energy', 'Duke Energy', 'DuPont', 'Eastman Chemical Company', 'Eaton Corporation', 'eBay', 'Ecolab', 'Edison International', 'Edwards Lifesciences', 'Electronic Arts', 'Elevance Health', 'Eli Lilly and Company', 'Emerson Electric', 'Enphase', 'Entergy', 'EOG Resources', 'EPAM Systems', 'EQT', 'Equifax', 'Equinix', 'Equity Residential', 'Essex Property Trust', 'Estée Lauder Companies (The)', 'Etsy', 'Everest Re', 'Evergy', 'Eversource', 'Exelon', 'Expedia Group', 'Expeditors International', 'Extra Space Storage', 'ExxonMobil', 'F5, Inc.', 'FactSet', 'Fair Isaac', 'Fastenal', 'Federal Realty', 'FedEx', 'Fidelity National Information Services', 'Fifth Third Bank', 'First Solar', 'FirstEnergy', 'Fiserv', 'Fleetcor', 'FMC Corporation', 'Ford Motor Company', 'Fortinet', 'Fortive', 'Fox Corporation (Class A)', 'Fox Corporation (Class B)', 'Franklin Templeton', 'Freeport-McMoRan', 'Garmin', 'Gartner', 'GE HealthCare', 'Gen Digital', 'Generac', 'General Dynamics', 'General Electric', 'General Mills', 'General Motors', 'Genuine Parts Company', 'Gilead Sciences', 'Global Payments', 'Globe Life', 'Goldman Sachs', 'Halliburton', 'Hartford (The)', 'Hasbro', 'HCA Healthcare', 'Healthpeak', 'Henry Schein', "Hershey's", 'Hess Corporation', 'Hewlett Packard Enterprise', 'Hilton Worldwide', 'Hologic', 'Home Depot (The)', 'Honeywell', 'Hormel Foods', 'Host Hotels & Resorts', 'Howmet Aerospace', 'HP Inc.', 'Hubbell Incorporated', 'Humana', 'Huntington Bancshares', 'Huntington Ingalls Industries', 'IBM', 'IDEX Corporation', 'Idexx Laboratories', 'Illinois Tool Works', 'Illumina', 'Incyte', 'Ingersoll Rand', 'Insulet', 'Intel', 'Intercontinental Exchange', 'International Flavors & Fragrances', 'International Paper', 'Interpublic Group of Companies (The)', 'Intuit', 'Intuitive Surgical', 'Invesco', 'Invitation Homes', 'IQVIA', 'Iron Mountain', 'J.B. Hunt', 'Jabil', 'Jack Henry & Associates', 'Jacobs Solutions', 'Johnson & Johnson', 'Johnson Controls', 'JPMorgan Chase', 'Juniper Networks', 'Kellanova', 'Kenvue', 'Keurig Dr Pepper', 'KeyCorp', 'Keysight', 'Kimberly-Clark', 'Kimco Realty', 'Kinder Morgan', 'KLA Corporation', 'Kraft Heinz', 'Kroger', 'L3Harris', 'LabCorp', 'Lam Research', 'Lamb Weston', 'Las Vegas Sands', 'Leidos', 'Lennar', 'Linde plc', 'Live Nation Entertainment', 'LKQ Corporation', 'Lockheed Martin', 'Loews Corporation', "Lowe's", 'Lululemon Athletica', 'LyondellBasell', 'M&T Bank', 'Marathon Oil', 'Marathon Petroleum', 'MarketAxess', 'Marriott International', 'Marsh McLennan', 'Martin Marietta Materials', 'Masco', 'Mastercard', 'Match Group', 'McCormick & Company', "McDonald's", 'McKesson', 'Medtronic', 'Merck & Co.', 'Meta Platforms', 'MetLife', 'Mettler Toledo', 'MGM Resorts', 'Microchip Technology', 'Micron Technology', 'Microsoft', 'Mid-America Apartment Communities', 'Moderna', 'Mohawk Industries', 'Molina Healthcare', 'Molson Coors Beverage Company', 'Mondelez International', 'Monolithic Power Systems', 'Monster Beverage', "Moody's Corporation", 'Morgan Stanley', 'Mosaic Company (The)', 'Motorola Solutions', 'MSCI', 'Nasdaq, Inc.', 'NetApp', 'Netflix', 'Newmont', 'News Corp (Class A)', 'News Corp (Class B)', 'NextEra Energy', 'Nike, Inc.', 'NiSource', 'Nordson Corporation', 'Norfolk Southern Railway', 'Northern Trust', 'Northrop Grumman', 'Norwegian Cruise Line Holdings', 'NRG Energy', 'Nucor', 'Nvidia', 'NVR, Inc.', 'NXP Semiconductors', "O'Reilly Auto Parts", 'Occidental Petroleum', 'Old Dominion', 'Omnicom Group', 'ON Semiconductor', 'ONEOK', 'Oracle Corporation', 'Otis Worldwide', 'Paccar', 'Packaging Corporation of America', 'Palo Alto Networks', 'Paramount Global', 'Parker Hannifin', 'Paychex', 'Paycom', 'PayPal', 'Pentair', 'PepsiCo', 'Pfizer', 'PG&E Corporation', 'Philip Morris International', 'Phillips 66', 'Pinnacle West', 'Pioneer Natural Resources', 'PNC Financial Services', 'Pool Corporation', 'PPG Industries', 'PPL Corporation', 'Principal Financial Group', 'Procter & Gamble', 'Progressive Corporation', 'Prologis', 'Prudential Financial', 'Public Service Enterprise Group', 'PTC', 'Public Storage', 'PulteGroup', 'Qorvo', 'Quanta Services', 'Qualcomm', 'Quest Diagnostics', 'Ralph Lauren Corporation', 'Raymond James', 'RTX Corporation', 'Realty Income', 'Regency Centers', 'Regeneron', 'Regions Financial Corporation', 'Republic Services', 'ResMed', 'Revvity (Previously PerkinElmer)', 'Robert Half', 'Rockwell Automation', 'Rollins, Inc.', 'Roper Technologies', 'Ross Stores', 'Royal Caribbean Group', 'S&P Global', 'Salesforce', 'SBA Communications', 'Schlumberger', 'Seagate Technology', 'Sempra Energy', 'ServiceNow', 'Sherwin-Williams', 'Simon Property Group', 'Skyworks Solutions', 'J.M. Smucker Company (The)', 'Snap-on', 'Southern Company', 'Southwest Airlines', 'Stanley Black & Decker', 'Starbucks', 'State Street Corporation', 'Steel Dynamics', 'Steris', 'Stryker Corporation', 'Synchrony Financial', 'Synopsys', 'Sysco', 'T-Mobile US', 'T. Rowe Price', 'Take-Two Interactive', 'Tapestry, Inc.', 'Targa Resources', 'Target Corporation', 'TE Connectivity', 'Teledyne Technologies', 'Teleflex', 'Teradyne', 'Tesla, Inc.', 'Texas Instruments', 'Textron', 'Thermo Fisher Scientific', 'TJX Companies', 'Tractor Supply', 'Trane Technologies', 'TransDigm Group', 'Travelers Companies (The)', 'Trimble Inc.', 'Truist', 'Tyler Technologies', 'Tyson Foods', 'U.S. Bank', 'Uber', 'UDR, Inc.', 'Ulta Beauty', 'Union Pacific Corporation', 'United Airlines Holdings', 'United Parcel Service', 'United Rentals', 'UnitedHealth Group', 'Universal Health Services', 'Valero Energy', 'Ventas', 'Veralto', 'Verisign', 'Verisk', 'Verizon', 'Vertex Pharmaceuticals', 'VF Corporation', 'Viatris', 'Vici Properties', 'Visa Inc.', 'Vulcan Materials Company', 'Berkley', 'Wabtec', 'Walgreens Boots Alliance', 'Walmart', 'Walt Disney', 'Warner Bros. Discovery', 'Waste Management', 'Waters Corporation', 'WEC Energy Group', 'Wells Fargo', 'Welltower', 'West Pharmaceutical Services', 'Western Digital', 'WestRock', 'Weyerhaeuser', 'Whirlpool Corporation', 'Williams Companies', 'Willis Towers Watson', 'W. W. Grainger', 'Wynn Resorts', 'Xcel Energy', 'Xylem Inc.', 'Yum! Brands', 'Zebra Technologies', 'Zimmer Biomet', 'Zions Bancorporation', 'Zoetis']

Enter Stock_Name from the above displayed list for Analysis: Invesco
Enter Start Date for Historical Data in yyyy-mm-dd: 2011-01-01

[*********************100%%**********************]  1 of 1 completed

IVZ:Invesco

                 Open       High        Low      Close  Adj Close   Volume
Date
2011-01-03  24.240000  24.719999  24.240000  24.459999  14.750483  5164600
2011-01-04  24.389999  24.540001  24.129999  24.410000  14.720332  5388300
2011-01-05  24.200001  24.450001  24.190001  24.389999  14.708273  6230200

             Open   High    Low  Close  Adj Close   Volume
Date
2024-03-13  15.64  15.87  15.55  15.74      15.74  4608100
2024-03-14  15.59  15.69  15.24  15.39      15.39  4453000
2024-03-15  15.19  15.58  15.19  15.43      15.43  5834800

In [14]:
# Feature Engineering _ additionals features for ML Analysis

import pandas_ta as ta

def technical_indicators(OHLCV_df):
    # Daily Avg Price
    OHLCV_df['avg_price'] = OHLCV_df.ta.ohlc4()
    # Simple Moving Avg 20Days
    OHLCV_df['sma_20'] = OHLCV_df.ta.sma(length=20)
    # Exponential Moving Avg 50Days
    OHLCV_df['ewma_50'] = OHLCV_df.ta.ema(length=50)
    # VWAP modified to use Annual cummulative sum
    OHLCV_df['typical_price'] = (OHLCV_df['High']+OHLCV_df['Low']+OHLCV_df['Close'])/3
    OHLCV_df['vw_typical_price'] = OHLCV_df['typical_price']*OHLCV_df['Volume']
    OHLCV_df['vwap_annual'] = OHLCV_df.groupby(OHLCV_df.index.year)['vw_typical_price'].cumsum() / OHLCV_df.groupby(OHLCV_df.index.year)['Volume'].cumsum()
    # RSI Momemtum Indicator 14Days
    OHLCV_df['rsi_14'] = OHLCV_df.ta.rsi()
    # MACD Momentum Indicator
    OHLCV_df[['ewma_12', 'ewma_26', 'MACD_signal']] = OHLCV_df.ta.macd()
    # Bolinger Bands %B Indicator
    OHLCV_df[['BB_lower','BB_middle','BB_upper','BBP','BB%B']]= OHLCV_df.ta.bbands()
    # On-Balance Volume in Millions
    OHLCV_df['OBV_in_million'] = OHLCV_df.ta.obv()/1000000
    # Average Directional Index 14Days
    OHLCV_df[['adx_14','dmp_14','dmn_14']] = OHLCV_df.ta.adx()
    # Dropping trivial Columns
    OHLCV_append_df = OHLCV_df.drop(columns = ['typical_price','vw_typical_price','Volume',
                                               'BBP','dmp_14','dmn_14']).dropna()
    return(OHLCV_append_df)

In [15]:
df = technical_indicators(df)

df.head()

,Open,High,Low,Close,Adj Close,avg_price,sma_20,ewma_50,vwap_annual,rsi_14,ewma_12,ewma_26,MACD_signal,BB_lower,BB_middle,BB_upper,BB%B,OBV_in_million,adx_14
Date,,,,,,,,,,,,,,,,,,,
2011-03-15,24.709999,25.059999,24.219999,24.910000,15.082359,24.724999,26.3130,25.381000,25.306641,41.510917,0.041826,-0.224199,0.266025,24.615050,25.658,26.700950,0.141402,-16.6201,19.679893
2011-03-16,24.820000,24.940001,23.870001,24.090000,14.585872,24.430000,26.1925,25.330373,25.283831,36.255621,-0.106181,-0.297765,0.191584,23.927731,25.176,26.424270,0.064998,-22.2934,20.340733
2011-03-17,24.629999,24.870001,24.350000,24.680000,14.943104,24.632500,26.0595,25.304868,25.275503,41.950165,-0.173865,-0.292359,0.118494,23.781392,24.988,26.194609,0.372370,-19.0468,20.948131
2011-03-18,25.030001,25.200001,24.590000,24.850000,15.046035,24.917500,25.9310,25.287030,25.268238,43.515924,-0.211352,-0.263877,0.052525,23.933496,24.790,25.646505,0.535026,-14.3005,20.878476
2011-03-21,25.270000,25.480000,24.980000,25.450001,15.409317,25.295000,25.8360,25.293421,25.268763,48.768233,-0.190449,-0.194380,0.003930,23.921691,24.796,25.670309,0.874010,-10.3714,20.309475